@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --orange: hsl(25, 97%, 53%);
        --white: hsl(0, 0%, 100%);
        --light-grey: hsl(217, 12%, 63%);
        --dark-blue-1: rgb(33, 42, 51);
        --dark-blue-2: rgb(24, 31, 39);
        --dark-blue-3: rgb(18, 20, 23);
    }

    html,
    body {
        font-family: "Overpass", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}